<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <style>
    .smallBox{
     width: 200px;
     height: 200px;
     border: 3px solid black; 
     display: inline-block;
     text-align: center;
    }
    h2{
        display: inline-block;
    }
    h3{
        display: inline-block;
    }
    </style>

</head>
<body>
    <div id="container">
        <div><h3>Your Gold: </h3><h3>{{session['gold']}}</h3></div>
            <div class="smallBox"> <h1>Farm</h1> <br> <h3>(earns 10-20 golds)</h3> 
                <form action="/process_money" method = 'post'>
                <input type="hidden" name="action" id="" value="farm">
                <input type="submit" name="farm" id="" placeholder="Find Gold!">
                </form>
            </div>
            <div class="smallBox"> <h1>Cave</h1> <br> <h3>(earns 5-10 golds)</h3> 
                <form action="/process_money" method = 'post'>
                <input type="hidden" name="action" id=""  value="Cave">
                <input type="submit" name="Cave" id="" placeholder="Find Gold!">
                </form>
            </div>
            <div class="smallBox"> <h1>House</h1> <br> <h3>(earns 2-5 golds)</h3> 
                <form action="/process_money" method = 'post'>
                <input type="hidden" name="action" id=""  value="House">
                <input type="submit" name="House" id="" placeholder="Find Gold!">
                </form>
            </div>
            <div class="smallBox"> <h1>Casino</h1> <br> <h3>(earns/takes 0-50 golds)</h3> 
                <form action="/process_money" method = 'post'>
                <input type="hidden" name="action" id=""  value="Casino">
                <input type="submit" name="Casino" id="" placeholder="Find Gold!">
                </form>
            </div>

            <div class="largeBox">
                <h3>Activities</h3>
                <h4>{{session['activity']}}</h4>

            </div>
    </div>

</body>
</html>
