body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td {
	padding: 0;
	margin: 0;
	}
fieldset, img {
	border: 0;
	}
table {
	border-collapse: collapse;
	border-spacing: 0;
	}
ol, ul {
	list-style: none;
	}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
	}
caption, th {
	text-align: left;
	}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: 100%;
	}
q:before, q:after {
	content: '';
	}
abbr, acronym {
	border: 0;
	}

#container{

	background-color: #dddfd4;
	width: 1200px;
	height: 1000px;
	margin: 0 auto;

}

#wwrapper{
	margin: 20px;
	width: 1160px;
	height: 960px;
	display: inline-block;
}

#header{
	background-color: #38b0ad;
	width: 1160px;
	height: 100px;
	display: inline-block;
	line-height: 100px;
}

img[src="img/github-icon.png"]{
	height: 80px;
	width: 80px;
	line-height: 80px;
	vertical-align: middle;
	margin-left: 10px;
}

#header h2{
	color: black;
	font-size: 42px;
	font-weight: bold;
	vertical-align: middle;
	display: inline-block;
	margin-left: 10px;
	margin-right: 50px;
}

#header h3{
	color: white;
	font-size: 24px;
	text-decoration: underline;
	vertical-align: middle;
	display: inline-block;
	margin-left: 10px;
}

#content{
	width: 1160px;
	height: 730px;
	background-color: #fbe691;
	margin: 15px 0;
}

#left{
	height:700px;
	width:300px;
	background-color:#153f43;
	display: inline-block;
	margin: 15px;
}

#content h2{
		font-size: 28px;
		color: white;
		margin: 10px;
		display: inline-block;
		vertical-align: top;

}

#content h3{
		font-size: 20px;
		color: white;
		margin: 20px;
		display: inline-block;
		vertical-align: top;

}

#content h4{
		font-size: 30px;
		color: white;
		margin: 10px;
		display: inline-block;
		vertical-align: top;

}

#content h5{
		font-size: 22px;
		color: white;
		margin: 10px;
		display: inline-block;
		vertical-align: top;
}

span{
	color: #38a299;
}

#right{
	display: inline-block;
	width: 780px;
	height: 700px;
	margin: 15px;
	vertical-align: top;
}

#right .rightSmall{
	width: 247px;
	height: 224px;
	background-color:#153f43;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 10px;

}

#right .rightMiddle{
	width: 377px;
	height: 224px;
	background-color:#153f43;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 10px;

}

#right .rightLarge{
	width: 770px;
	height: 224px;
	background-color:#153f43;
	display: inline-block;
	margin-right: 10px;
}



#footer {
	width: 1160px;
	height: 100px;
	background-color: #38b0ad;
}

#footer h4{
	color: black;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 100px;
}

#footer span{
	color: purple;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	line-height: 100px;
	text-decoration: underline;
}
